<h1>All Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to project.created_at, project_path(project) %></td>
        <td>
          <%= link_to 'Show', project_path(project) %> <!-- Link to show project details -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
<% end %>
